@using Barber.Data.models
@model List<Appointment>

<h2 class="text-center">Всички резервации</h2>

@if (!Model.Any())
{
    <p class="text-center text-muted">Няма направени резервации.</p>
}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Дата</th>
                <th>Час</th>
                <th>Име</th>
                <th>Фамилия</th>
                <th>Телефон</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var r in Model)
            {
                <tr>
                    <td>@r.Date.ToShortDateString()</td>
                    <td>@r.Time.ToString(@"hh\:mm")</td>
                    <td>@r.User.FirstName</td>
                    <td>@r.User.LastName</td>
                    <td>@r.User.PhoneNumber</td>
                </tr>
            }
        </tbody>
    </table>
}
